<!DOCTYPE html>
<div class="container">
    <div class="item-footer">
        <div class="footer-logo">
            <img data-src="../public/img/footer_logo.png?v=a25c9fe" alt="">
            <p>本站所有资料均来源于主播提供以及互联网搜集</p>
            <p>本站对此不承担任何法律责任</p>
        </div>
    </div>
    <div class="item-footer">
        <div class="footer-link">
            <h5 class="tit">友情</h5>
            <ul class="clearfix footer-ul">
                <li class="footer-li">
                    <a href="index.html">播霸榜</a>
                </li>
                <li class="footer-li">
                    <a href="index.html">直播观察</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-footer">
        <div class="footer-link">
            <h5 class="tit">关于</h5>
            <ul class="clearfix footer-ul">
                <li class="footer-li">
                    <a href="index.html">网站简介</a>
                </li>
                <li class="footer-li">
                    <a href="index.html">添加主播</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-footer">
        <div class="footer-link">
            <h5 class="tit">联络</h5>
            <ul class="clearfix footer-ul">
                <li>QQ：370065053</li>
                <li>E-mail：since1991_vip@163.com</li>
                <li>WeChat：18520227827</li>
                <li>备案号：粤ICP备10006020号-3</li>
            </ul>
        </div>
    </div>
</div>