<!DOCTYPE html>
<div class="container">
    <div class="header-logo">
        <a href="index.html" class="logo">
            <img data-src="../public/img/logo.png?v=0772371" alt="主播百科 | 努力打造一个全网最详细的主播平台">
        </a>
    </div>
    <div class="header-nav">
        <ul class="clearfix">
            <li>
                <a href="index.html">卷 首</a>
            </li>
            <li>
                <a href="index.html">主 播</a>
            </li>
            <li>
                <a href="index.html">美 图</a>
            </li>
            <li>
                <a href="index.html">导 航</a>
            </li>
            <li>
                <a href="index.html">新 闻</a>
            </li>
            <li>
                <a href="index.html">社 区</a>
            </li>
        </ul>
    </div>
</div>