<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <title>主播百科 | 努力打造一个全网最详细的主播平台</title>
    <meta name="description" content="主播百科是一部为喜欢看直播和喜欢做主播的用户所提供的百科全书，旨在创造一个国内互联网内最专业的主播平台。">
    <meta name="keywords" content="主播百科,网络,斗鱼,熊猫,战旗,虎牙,YY,主播,直播,直播间">
    <link rel="shortcut icon" href="/common/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/common.min.css?v=613ec96">
    <link rel="stylesheet" href="../public/css/style.min.css?v=4c0cb6a">
</head>

<body id="bd" v-cloak>
    <div class="sec sec-header" id="header">
        <!-- 公共 header -->
    </div>
    <div class="sec sec-banner" id="banner">
        <div class="banner-container">
            <template v-for="(index, todo) in banner">
                <div class="banner banner-{{index + 1}}" :class="todo.sale_sign === 1 ? 'banner-this' : ''">
                    <div class="container">
                        <img v-bind:src="'/public/img/' + todo.image" alt="{{todo.title}}">
                        <div class="banner-lf">
                            <p class="date">{{todo.date}}</p>
                            <p class="month">{{todo.month}}<em></em></p>
                            <p class="desc">{{todo.desc}}</p>
                            <a href="{{todo.href}}" class="btn btn-primary">查看主播</a>
                        </div>
                        <div class="banner-fr">
                            <p class="name">{{todo.name}}</p>
                            <p class="platform">{{todo.platform}}</p>
                            <p class="line">{{todo.line}}</p>
                            <p class="platform-en">{{todo.platform_en}}</p>
                            <p class="live">{{todo.live}}</p>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="banner-page" id="page">
            <ul class="ul-page"> </ul>
        </div>
        <button class="carousel-arrow prev" id="prev"></button>
        <button class="carousel-arrow next" id="next"></button>
    </div>
    <div class="sec sec-container">
        <div class="container">
            <div class="content">
                <div class="con con-left">
                    <div class="in-title">
                        <h4>百科简报</h4>
                        <span class="line"></span>
                    </div>
                    <div class="con-menu">
                        <ul class="clearfix">
                            <li v-for="todo in jianbaoList" track-by="$index" v-if="$index < 8" class="menu-item menu-item-{{$index + 1}}">
                                <div class="module-card">
                                    <a href="{{todo.href}}">{{todo.title}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con con-middle">
                    <div class="in-banner">
                        <ul class="in-banner-img-box" id="slideshow">
                            <li v-for="todo in sliderMap" class="in-banner-img" track-by="$index" v-if="$index < 6">
                                <a href="{{todo.href}}">
                                    <img v-bind:data-src="'/public/img/' + todo.image_url" alt="{{todo.title}}">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="in-tag">
                        <div class="tag-title">
                            <ul class="clearfix ul-tag" id="tagTit">
                                <li class="tag-this">头条新闻</li>
                                <li>直播行业</li>
                                <li>主播新闻</li>
                                <li>平台活动</li>
                            </ul>
                        </div>
                        <div class="tag-content" id="tagCon">
                            <div class="tag-item tag-show">
                                <ul class="clearfix ul-con">
                                    <li v-for="todo in toutiaoNews" track-by="$index" v-if="$index < 2">
                                        <div class="module-card">
                                            <h4>
                                                <a href="{{todo.href}}">{{todo.title}}</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.title}}">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">{{todo.content}}</p>
                                                    <div class="news-time">
                                                        <span class="date">{{todo.date}}</span>
                                                        <span class="industry">{{todo.industry}}</span>
                                                    </div>
                                                    <a href="{{todo.href}}" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li v-for="todo in zhiboIndustry" track-by="$index" v-if="$index < 2">
                                        <div class="module-card">
                                            <h4>
                                                <a href="{{todo.href}}">{{todo.title}}</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.title}}">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">{{todo.content}}</p>
                                                    <div class="news-time">
                                                        <span class="date">{{todo.date}}</span>
                                                        <span class="industry">{{todo.industry}}</span>
                                                    </div>
                                                    <a href="{{todo.href}}" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li v-for="todo in zhuboNews" track-by="$index" v-if="$index < 2">
                                        <div class="module-card">
                                            <h4>
                                                <a href="{{todo.href}}">{{todo.title}}</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.title}}">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">{{todo.content}}</p>
                                                    <div class="news-time">
                                                        <span class="date">{{todo.date}}</span>
                                                        <span class="industry">{{todo.industry}}</span>
                                                    </div>
                                                    <a href="{{todo.href}}" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li v-for="todo in platformActivity" track-by="$index" v-if="$index < 2">
                                        <div class="module-card">
                                            <h4>
                                                <a href="{{todo.href}}">{{todo.title}}</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.title}}">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">{{todo.content}}</p>
                                                    <div class="news-time">
                                                        <span class="date">{{todo.date}}</span>
                                                        <span class="industry">{{todo.industry}}</span>
                                                    </div>
                                                    <a href="{{todo.href}}" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="con con-right">
                    <div class="in-menu">
                        <div class="in-btn-group">
                            <a href="javascript:void(0);" class="btn btn-primary zb-btn">添加主播</a>
                            <a href="javascript:void(0);" class="btn btn-primary zb-btn">文章投稿</a>
                        </div>
                    </div>
                    <div class="in-title">
                        <h4>主播专访</h4>
                        <span class="line"></span>
                    </div>
                    <div class="in-interview">
                        <div class="in-interview-img">
                            <a href="index.html">
                                <img data-src="../public/img/2017-09-25-1145087510.jpg?v=c9afa86" alt="">
                            </a>
                        </div>
                        <div class="in-interview-con">从花椒转战一直播短短4个月时间里，坐拥194万粉丝，连续拿下“时尚盛典”、“微博红人主播”、“The Sing...</div>
                    </div>
                    <div class="in-promo-list">
                        <div class="in-avding">
                            <a href="index.html">
                                <img data-src="../public/img/img_05.jpg?v=8c41ded" alt="">
                            </a>
                        </div>
                        <div class="in-avding">
                            <a href="index.html">
                                <img data-src="../public/img/img_06.jpg?v=42a8849" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-search">
        <div class="container">
            <div class="module-card">
                <form method="get" class="form" role="search">
                    <div class="item-inline zb-name">
                        <input type="text" name="zb-name" placeholder="请输入主播名字" autocomplete="off" class="zb-name">
                    </div>
                    <div class="item-inline zb-platform">
                        <select name="zb-platform" style="display:none;">
                            <option v-for="todo in zbPlatform" track-by="$index" v-if="$index < 10" value="{{todo.id}}">{{todo.platform}}</option>
                        </select>
                        <div class="zb-form-select">
                            <div class="select-title">
                                <input type="text" placeholder="直播平台" class="select-input">
                                <i class="icon"></i>
                            </div>
                            <dl class="select-anim select-anim-upbit">
                                <dd v-for="todo in zbPlatform" track-by="$index" v-if="$index < 10" value="{{todo.id}}" :class="todo.sale_sign?'select-tips':''">
                                    {{todo.platform}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="item-inline zb-identity">
                        <select name="zb-identity" style="display: none;">
                            <option value="" selected>主播特性</option>
                            <template v-for="todo in zbIndentity">
                                <optgroup label="{{todo.title}}">
                                    <option v-for="sub in todo.sub" value="{{sub.id}}">{{sub.name}}</option>
                                </optgroup>
                            </template>
                        </select>
                        <div class="zb-form-select">
                            <div class="select-title">
                                <input type="text" placeholder="主播特性" class="select-input">
                                <i class="icon"></i>
                            </div>
                            <dl class="select-anim select-anim-upbit select-group">
                                <dd value="" class="select-tips">主播特性</dd>
                                <template v-for="todo in zbIndentity">
                                    <dt>{{todo.title}}</dt>
                                    <dd v-for="sub in todo.sub" value="{{sub.id}}" class="padd-20">{{sub.name}}</dd>
                                </template>
                            </dl>
                        </div>
                    </div>
                    <div class="item-inline zb-btn">
                        <button type="submit" class="btn-primary">搜索主播</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sec sec-news-zhubo">
        <div class="container">
            <div class="zhubo-tit">
                <h2>最新主播</h2>
                <span class="line"></span>
            </div>
            <span class="zhubo-tit-eng">NEW ANCHOR</span>
        </div>
    </div>
    <div class="sec sec-zhubo-list">
        <div class="container">
            <div v-for="todo in newsZhubo" track-by="$index" v-if="$index < 16" class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">{{todo.platform}}</div>
                    <div class="anchor-img">
                        <a href="{{todo.href}}">
                            <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.title}}">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">{{todo.name}}</h3>
                        <span class="line"></span>
                        <p class="desc">{{todo.desc}}</p>
                    </div>
                    <div class="anchor-link">
                        <a href="{{todo.href}}" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-zhubo-meitu">
        <div class="container">
            <div class="zhubo-tit">
                <h2>主播美图</h2>
                <span class="line"></span>
            </div>
            <span class="zhubo-tit-eng">ANCHOR PHOTO</span>
        </div>
    </div>
    <div class="sec sec-zb-meitu-list">
        <div class="container">
            <div v-for="todo in zhuboMeitu" class="item-list">
                <div class="moudle-card">
                    <div class="anchor-img">
                        <a href="{{todo.href}}">
                            <img v-bind:data-src="'/public/img/' + todo.image" alt="{{todo.name}}">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">{{todo.name}}</h3>
                        <span class="line"></span>
                        <p class="desc">{{todo.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="/static/js/libs/jquery.cycle.all.min.js"></script>
    <script src="../public/js/common.min.js?v=87b77db"></script>
    <script src="../public/js/script.min.js?v=5641e90"></script>
</body>

</html>