<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <title>主播百科 | 努力打造一个全网最详细的主播平台</title>
    <meta name="description" content="主播百科是一部为喜欢看直播和喜欢做主播的用户所提供的百科全书，旨在创造一个国内互联网内最专业的主播平台。">
    <meta name="keywords" content="主播百科,网络,斗鱼,熊猫,战旗,虎牙,YY,主播,直播,直播间">
    <link rel="shortcut icon" href="/common/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/style.min.css?v=d209fc1">
</head>

<body>
    <div class="sec sec-header">
        <div class="container">
            <h1>Hello World</h1>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../public/js/script.min.js?v=49b55df"></script>
</body>

</html>