<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <title>主播百科 | 努力打造一个全网最详细的主播平台</title>
    <meta name="description" content="主播百科是一部为喜欢看直播和喜欢做主播的用户所提供的百科全书，旨在创造一个国内互联网内最专业的主播平台。">
    <meta name="keywords" content="主播百科,网络,斗鱼,熊猫,战旗,虎牙,YY,主播,直播,直播间">
    <link rel="shortcut icon" href="/common/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/common.min.css?v=613ec96">
    <link rel="stylesheet" href="../public/css/style.min.css?v=7d2c6e1">
</head>

<body id="bd" v-cloak>
    <div class="sec sec-header" id="header">
        <!-- 公共 header -->
    </div>
    <div class="sec sec-banner" id="banner">
        <div class="banner-container">
            <div class="banner banner-1 banner-this">
                <div class="container">
                    <img data-src="../public/img/2017-11-20-1243393250.jpg?v=d027e5f" alt="">
                    <div class="banner-lf">
                        <p class="date">04</p>
                        <p class="month">12<em></em></p>
                        <p class="desc">颜值身材俱好的LOL女主播。</p>
                        <a href="index.html" class="btn btn-primary">查看主播</a>
                    </div>
                    <div class="banner-fr">
                        <p class="name">小鲨鱼呐</p>
                        <p class="platform">熊猫直播</p>
                        <p class="line"></p>
                        <p class="platform-en">PANDA.</p>
                        <p class="live">LIVE</p>
                    </div>
                </div>
            </div>
            <div class="banner banner-2">
                <div class="container">
                    <img data-src="../public/img/2017-11-20-1504408604.jpg?v=f7f9630" alt="">
                    <div class="banner-lf">
                        <p class="date">12</p>
                        <p class="month">11<em></em></p>
                        <p class="desc">斗鱼少有的古风女主播之一</p>
                        <a href="index.html" class="btn btn-primary">查看主播</a>
                    </div>
                    <div class="banner-fr">
                        <p class="name">郭mini</p>
                        <p class="platform">斗鱼直播</p>
                        <p class="line"></p>
                        <p class="platform-en">DOUYU.</p>
                        <p class="live">LIVE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-page" id="page">
            <ul class="ul-page"> </ul>
        </div>
        <button class="carousel-arrow prev" id="prev"></button>
        <button class="carousel-arrow next" id="next"></button>
    </div>
    <div class="sec sec-container">
        <div class="container">
            <div class="content">
                <div class="con con-left">
                    <div class="in-title">
                        <h4>百科简报</h4>
                        <span class="line"></span>
                    </div>
                    <div class="con-menu">
                        <ul class="clearfix">
                            <li v-for="todo in jianbaoList" class="menu-item menu-item-{{$index + 1}}" track-by="$index" v-if="$index < 8">
                                <div class="module-card">
                                    <a href="{{todo.href}}">{{todo.title}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con con-middle">
                    <div class="in-banner">
                        <ul class="in-banner-img-box" id="slideshow">
                            <li class="in-banner-img">
                                <a href="index.html">
                                    <img data-src="../public/img/2017-11-20-011317704.jpg?v=4bdac9c" alt="移动电竞直播的下半场：新生态连接新竞界">
                                </a>
                            </li>
                            <li class="in-banner-img">
                                <a href="index.html">
                                    <img data-src="../public/img/2017-10-23-0119589020.jpg?v=28e1a0f" alt="移动电竞直播的下半场：新生态连接新竞界">
                                </a>
                            </li>
                            <li class="in-banner-img">
                                <a href="index.html">
                                    <img data-src="../public/img/2017-09-23-0216511928.jpg?v=30e2253" alt="移动电竞直播的下半场：新生态连接新竞界">
                                </a>
                            </li>
                            <li class="in-banner-img">
                                <a href="index.html">
                                    <img data-src="../public/img/2017-09-20-0041282682.jpg?v=d68fe95" alt="移动电竞直播的下半场：新生态连接新竞界">
                                </a>
                            </li>
                            <li class="in-banner-img">
                                <a href="index.html">
                                    <img data-src="../public/img/2017-09-18-0543359716.jpg?v=587554d" alt="移动电竞直播的下半场：新生态连接新竞界">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="in-tag">
                        <div class="tag-title">
                            <ul class="clearfix ul-tag" id="tagTit">
                                <li class="tag-this">头条新闻</li>
                                <li>直播行业</li>
                                <li>主播新闻</li>
                                <li>平台活动</li>
                            </ul>
                        </div>
                        <div class="tag-content" id="tagCon">
                            <div class="tag-item tag-show">
                                <ul class="clearfix ul-con">
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">斗鱼宣布获得D轮融资 招银国际领投</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-11-20-0549402241.jpg?v=89cd808" alt="斗鱼宣布获得D轮融资 招银国际领投">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">近日，斗鱼直播宣布已经于2017年上半年完成D轮融资，成为国内第一家迈入D轮的网络直播平台。此次融资由招银国际。近日，斗鱼直播宣布已经于2017年上半年完成D轮融资，成为国内第一家迈入D轮的网络直播平台。</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">斗鱼宣布获得D轮融资 招银国际领投</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-11-20-0549402241.jpg?v=89cd808" alt="斗鱼宣布获得D轮融资 招银国际领投">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">想成为万人瞩目的明星吗？想轻松月入百万吗？只要你有设备手机or电脑都可，开通你自己的直播间，坐在家中就可以将一。近日，斗鱼直播宣布已经于2017年上半年完成D轮融资，成为国内第一家迈入D轮的网络直播平台。此次融资由招银国际。近日，斗鱼直播宣布已经于2017年上半年完成D轮融资，成为国内第一家迈入D轮的网络直播平台。</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">游戏厂商和直播平台相互依赖 反目背后是利益之争</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-11-21-0054273075.jpg?v=aa114d6" alt="游戏厂商和直播平台相互依赖 反目背后是利益之争">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">网易诉YY侵犯《梦幻西游》著作权案在近日有了初步结果,它犹如一块投入平静水面的石头,在游戏直播这池水塘中激起阵网易诉YY侵犯《梦幻西游》著作权案在近日有了初步结果,它犹如一块投入平静水面的石头,在游戏直播这池水塘中激起阵</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">小智再度回应不露脸：主播靠的是实力，而不是靠颜值</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-11-20-0105529225.jpg?v=38ea6fa" alt="小智再度回应不露脸：主播靠的是实力，而不是靠颜值">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">在LOL年度最受欢迎主播一事，小智用高居第一的票数证明自己人气的同时，也被推上了风口浪尖。 在他一夜反超PDD，在LOL年度最受欢迎主播一事，小智用高居第一的票数证明自己人气的同时，也被推上了风口浪尖。 在他一夜反超PDD</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">17岁少年为讨好网络女主播 转走同学手机里3万多</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-11-20-0103267237.jpg?v=d0a4964" alt="17岁少年为讨好网络女主播 转走同学手机里3万多">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">现代快报讯（记者 王晓宇 通讯员 海公轩）连云港海州一17岁少年，到同学家玩耍，在不到一个月的时间内，竟分8次...</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tag-item">
                                <ul class="clearfix ul-con">
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">寻找“新”主播，全民星秀官方招募令</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-09-27-0120241415.jpg?v=21a4496" alt="寻找“新”主播，全民星秀官方招募令">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">想成为万人瞩目的明星吗？想轻松月入百万吗？只要你有设备手机or电脑都可，开通你自己的直播间，坐在家中就可以将一...</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="module-card">
                                            <h4>
                                                <a href="index.html">斗鱼2017鱼乐盛典 群星璀璨不见不散</a>
                                            </h4>
                                            <div class="in-news-list">
                                                <div class="news-img">
                                                    <img data-src="../public/img/2017-10-09-0520517217.jpg?v=2aaf320" alt="斗鱼2017鱼乐盛典 群星璀璨不见不散">
                                                </div>
                                                <div class="news-con">
                                                    <p class="desc">斗鱼2017鱼乐盛典将于10月20日全站引爆，为盛典打响第一炮！谁能笑傲江湖，称霸一方？快来一起见证吧！ 活动...</p>
                                                    <div class="news-time">
                                                        <span class="date">2017年11月20日</span>
                                                        <span class="industry">行业新闻</span>
                                                    </div>
                                                    <a href="index.html" class="btn btn-primary">[阅读全文]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="con con-right">
                    <div class="in-menu">
                        <div class="in-btn-group">
                            <a href="index.html" class="btn btn-primary zb-btn">添加主播</a>
                            <a href="index.html" class="btn btn-primary zb-btn">文章投稿</a>
                        </div>
                    </div>
                    <div class="in-title">
                        <h4>主播专访</h4>
                        <span class="line"></span>
                    </div>
                    <div class="in-interview">
                        <div class="in-interview-img">
                            <a href="index.html">
                                <img data-src="../public/img/2017-09-25-1145087510.jpg?v=c9afa86" alt="">
                            </a>
                        </div>
                        <div class="in-interview-con">从花椒转战一直播短短4个月时间里，坐拥194万粉丝，连续拿下“时尚盛典”、“微博红人主播”、“The Sing...</div>
                    </div>
                    <div class="in-promo-list">
                        <div class="in-avding">
                            <a href="index.html">
                                <img data-src="../public/img/img_05.jpg?v=8c41ded" alt="">
                            </a>
                        </div>
                        <div class="in-avding">
                            <a href="index.html">
                                <img data-src="../public/img/img_06.jpg?v=42a8849" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-search">
        <div class="container">
            <div class="module-card">
                <form method="get" class="form" role="search">
                    <div class="item-inline zb-name">
                        <input type="text" name="zb-name" placeholder="请输入主播名字" autocomplete="off" class="zb-name">
                    </div>
                    <div class="item-inline zb-platform">
                        <select name="zb-platform" style="display:none;">
                            <option value="" selected>直播平台</option>
                            <option value="">直播平台1</option>
                            <option value="">直播平台2</option>
                        </select>
                        <div class="zb-form-select">
                            <div class="select-title">
                                <input type="text" placeholder="直播平台" class="select-input">
                                <i class="icon"></i>
                            </div>
                            <dl class="select-anim select-anim-upbit">
                                <dd value="" class="select-tips">直播平台</dd>
                                <dd value="11" class="select-this">斗鱼直播111</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                                <dd value="12">斗鱼直播222</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="item-inline zb-identity">
                        <select name="zb-identity" style="display: none;">
                            <option value="" selected>主播特性</option>
                            <optgroup label="游戏">
                                <option value="">游戏主播</option>
                                <option value="">游戏主播111</option>
                            </optgroup>
                            <optgroup label="娱乐/秀场">
                                <option value="">游戏主播111</option>
                                <option value="">游戏主播111231</option>
                            </optgroup>
                            <optgroup label="其他">
                                <option value="">游戏主播6456</option>
                                <option value="">游戏主播111Z大</option>
                            </optgroup>
                        </select>
                        <div class="zb-form-select">
                            <div class="select-title">
                                <input type="text" placeholder="主播特性" class="select-input">
                                <i class="icon"></i>
                            </div>
                            <dl class="select-anim select-anim-upbit select-group">
                                <dd value="" class="select-tips">主播特性</dd>
                                <dt>游戏</dt>
                                <dd value="167" class="">游戏主播</dd>
                                <dd value="167" class="">游戏主播111</dd>
                                <dd value="167" class="">游戏主播222</dd>
                                <dt>娱乐/秀场</dt>
                                <dd value="170" class="select-this">娱乐主播</dd>
                                <dd value="170" class="">娱乐主播333</dd>
                                <dd value="170" class="">娱乐主播444</dd>
                                <dt>其他</dt>
                                <dd value="171" class="">户外主播</dd>
                                <dd value="133" class="">美食主播</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="item-inline zb-btn">
                        <button type="submit" class="btn-primary">搜索主播</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sec sec-news-zhubo">
        <div class="container">
            <div class="zhubo-tit">
                <h2>最新主播</h2>
                <span class="line"></span>
            </div>
            <span class="zhubo-tit-eng">NEW ANCHOR</span>
        </div>
    </div>
    <div class="sec sec-zhubo-list">
        <div class="container">
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-platform">熊猫直播</div>
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-15-1245556719.jpg?v=a581632" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">萱宝儿Baby</h3>
                        <span class="line"></span>
                        <p class="desc">氧气美女主播，才艺与颜值并存</p>
                    </div>
                    <div class="anchor-link">
                        <a href="index.html" class="btn btn-primary">主播详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-zhubo-meitu">
        <div class="container">
            <div class="zhubo-tit">
                <h2>主播美图</h2>
                <span class="line"></span>
            </div>
            <span class="zhubo-tit-eng">ANCHOR PHOTO</span>
        </div>
    </div>
    <div class="sec sec-zb-meitu-list">
        <div class="container">
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-19-1424378110.jpg?v=2afe528" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">WENX3X蚊子鸽鸽</h3>
                        <span class="line"></span>
                        <p class="desc">剪云作衣衫，袖如蝶轻舞</p>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-19-1424378110.jpg?v=2afe528" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">WENX3X蚊子鸽鸽</h3>
                        <span class="line"></span>
                        <p class="desc">剪云作衣衫，袖如蝶轻舞</p>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-19-1424378110.jpg?v=2afe528" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">WENX3X蚊子鸽鸽</h3>
                        <span class="line"></span>
                        <p class="desc">剪云作衣衫，袖如蝶轻舞</p>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="moudle-card">
                    <div class="anchor-img">
                        <a href="index.html">
                            <img data-src="../public/img/2017-11-19-1424378110.jpg?v=2afe528" alt="">
                        </a>
                    </div>
                    <div class="anchor-con">
                        <h3 class="name">WENX3X蚊子鸽鸽</h3>
                        <span class="line"></span>
                        <p class="desc">剪云作衣衫，袖如蝶轻舞</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="/static/js/libs/jquery.cycle.all.min.js"></script>
    <script src="../public/js/common.min.js?v=3a9cbb5"></script>
    <script src="../public/js/script.min.js?v=6bd3f51"></script>
</body>

</html>