<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <title>直播导航 | 主播百科</title>
    <meta name="description" content="主播百科是一部为喜欢看直播和喜欢做主播的用户所提供的百科全书，旨在创造一个国内互联网内最专业的主播平台。">
    <meta name="keywords" content="主播百科,网络,斗鱼,熊猫,战旗,虎牙,YY,主播,直播,直播间">
    <link rel="shortcut icon" href="/common/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/common.min.css?v=cf8427e">
    <link rel="stylesheet" href="../../public/css/nav/nav.min.css?v=4d9d20c">
</head>

<body id="bd">
    <div class="sec sec-header" id="header">
        <!-- 公共 header -->
    </div>
    <div class="sec sec-zb-nav">
        <div class="container">
            <div class="zhubo-tit">
                <h2>直播导航</h2>
                <span class="line"></span>
            </div>
            <span class="zhubo-tit-eng">NAVIGATION</span>
        </div>
    </div>
    <div class="sec sec-nav">
        <div class="container">
            <div class="moudle-card">
                <div class="nav-title">
                    <h3>数据</h3>
                    <span class="line"></span>
                </div>
                <div class="nav-con">
                    <div class="mar-10">
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-nav">
        <div class="container">
            <div class="moudle-card">
                <div class="nav-title">
                    <h3>工具</h3>
                    <span class="line"></span>
                </div>
                <div class="nav-con">
                    <div class="mar-10">
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-nav">
        <div class="container">
            <div class="moudle-card">
                <div class="nav-title">
                    <h3>聚合</h3>
                    <span class="line"></span>
                </div>
                <div class="nav-con">
                    <div class="mar-10">
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-nav">
        <div class="container">
            <div class="moudle-card">
                <div class="nav-title">
                    <h3>门户</h3>
                    <span class="line"></span>
                </div>
                <div class="nav-con">
                    <div class="mar-10">
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-nav">
        <div class="container">
            <div class="moudle-card">
                <div class="nav-title">
                    <h3>平台</h3>
                    <span class="line"></span>
                </div>
                <div class="nav-con">
                    <div class="mar-10">
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="web-link" data-link="">
                                <div class="icon icon-line">
                                    <img data-src="/public/img/nav/2017-06-27-090721962.png" alt="">
                                </div>
                                <div class="link-con">
                                    <p class="name">直播观察</p>
                                    <p class="desc">直播行业第一权威媒体</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec sec-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/common.min.js?v=3a9cbb5"></script>
</body>

</html>