/*!
 * authors: chenfx (since1991_vip@163.com)
 * date:    2017-11-18 18:18:18
 * version: v1.0.0
 */

@import '../../static/scss/_custom.scss';
@import '../../static/scss/_normalize.scss';
@import '../../static/scss/_reset.scss';
@import '../../static/scss/_modal.scss';
@mixin transition($arr) {
    -webkit-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    transform: $arr;
}

@mixin animation($arr) {
    -webkit-animation: $arr;
    animation: $arr;
}

@mixin box_shodow($arr) {
    -webkit-box-shadow: $arr;
    box-shadow: $arr;
}

@mixin box_sizing($arr) {
    -webkit-box-sizing: $arr;
    box-sizing: $arr;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin abs-lt {
    position: absolute;
    top: 50%;
    left: 50%;
}

@mixin fl {
    float: left;
}

@mixin fr {
    float: right;
}


/*格式化样式*/

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

button {
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    min-width: 1170px;
    background: #f5f4f8;
    -webkit-font-smoothing: antialiased;
}

.container {
    @include pos;
    width: 1170px;
    margin: 0 auto;
}

.container {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.container:before,
.container:after {
    content: "";
    display: table;
}

$imgUrl: '../public/img/';

/* 公共header */

.sec-header {
    height: 70px;
    background: #fff;
    .header-logo {
        @include fl;
        width: 136px;
        height: 35px;
        margin-top: (70px - 35px) / 2;
        a {
            display: block;
            color: #333;
        }
    }
    .header-nav {
        @include fr;
        ul {
            padding: 0 20px;
            @include pos;
        }
        li {
            @include pos;
            @include fl;
            line-height: 70px;
            padding: 0 20px;
            vertical-align: middle;
            a {
                display: block;
                color: #333;
                @include pos;
                @include transition(all .4s);
                &:hover {
                    color: #f84b9c;
                }
            }
            &:before {
                display: block;
                content: "";
                @include abs;
                bottom: 0;
                width: 0;
                height: 5px;
                left: 50%;
                background: #f84b9c;
                @include transition(all .4s);
            }
            &:hover:before {
                width: 100%;
                left: 0;
                right: 0;
            }
        }
        .nav-this {
            @include abs;
            bottom: 0;
            left: 20px;
            width: 71.89px;
            height: 5px;
            background: #f84b9c;
            @include transition(all .4s);
        }
    }
}


/* 公共footer */

.sec-footer {
    background: #fff;
    padding: 55px 0px 50px;
    margin-top: 30px;
    overflow: hidden;
    .item-footer {
        @include fl;
        @include pos;
        width: 20%;
        .footer-logo {
            color: #a7a7a7;
            font-size: 12px;
            line-height: 18px;
        }
        img {
            margin-bottom: 20px;
            width: 102px;
            height: auto;
        }
        &:first-child {
            width: 40%;
        }
    }
    .footer-link {
        margin-top: 35px;
        .tit {
            margin-bottom: 30px;
            font-size: 14px;
            color: #000;
            font-weight: bold;
        }
        .footer-ul {
            li {
                margin-bottom: 5px;
                font-size: 12px;
                color: #a7a7a7;
                line-height: 24px;
                a {
                    color: #a7a7a7;
                    @include transition(all .4s cubic-bezier(.215, .61, .355, 1) 0s);
                    &:hover {
                        color: #f84b9c;
                    }
                }
            }
        }
    }
}